<html>
    <head>
        <title>Error page</title>
        <style>
            body{
                background-image: url(../static/img8.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                color: red;
                font-size: 10px;
            }
        </style>
    </head>
    <body>
        <center><h1>Invalid Entry(-_-)!</h1></center>
    </body>
    <div style="text-align:center;">
        <a href="http://localhost:8000/login/">LogIn</a>
        <a href="http://localhost:8000/home/">Home</a>
    </div>
</html>